# Ambientes e Variáveis
.env
.env.*
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
*.sqlite3

# Arquivos estáticos coletados
staticfiles/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Docker overrides
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db